<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<title>PLAYER FORM</title>
</head>
<body>
	<form th:action="@{/forword}" th:object="${player}" th:method="POST">
		<table>
			<tr>
				<td>
					Player Id :
				</td>
				<td>
					<input type="number" th:field="*{id}"/>
				</td>
			</tr>
			<tr>
				<td>
					Player Name :
				</td>
				<td>
					<input type="text" th:field="*{name}"/>
				</td>
			</tr>
			<tr>
				<td>
					Player Age :
				</td>
				<td>
					<input type="number" th:field="*{age}"/>
				</td>
			</tr>
			<tr>
				<td>
					Player Event :
				</td>
				<td>
					<input type="text" th:field="*{event}"/>
				</td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td>
					<input type="submit" value="save"/>
				</td>
			</tr>
		</table>
	
	</form>
</body>
</html>